<div class="modal-header">
    Przelew
</div>

<div class="modal-body">
    <input type="text" list="recipients" class="form-inline" placeholder="Email odbiorcy" autocomplete="off" ng-model="ctrl.transaction.recipient">
    <datalist id="recipients">
        <option ng-repeat="recipient in ctrl.emails" value="{{recipient}}" ng-bind="recipient"></option>
    </datalist>
    <input class="form-inline" type="number" placeholder="Kwota" ng-model="ctrl.transaction.amount"/>
    <input class="form-inline" type="text" placeholder="Opis" ng-model="ctrl.transaction.description"/>
</div>

<div class="modal-footer">
    <button class="btn btn-success fa fa-angle-right" ng-click="ctrl.submit(true)"></button>
    <button class="btn btn-danger fa fa-angle-left" ng-click="ctrl.submit(false)"></button>
</div>